// 1. do the newyear heading.
// 2. do the countdown
// 3. do the upcoming year.
// 4. do the spinnig widget.

// common variables
$white: #fff;
$black: #000;
// common mixins

@mixin flex-helper($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1467810563316-b5476525c0f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lato', sans-serif;
  @include flex-helper(center, center);
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: $black;
    opacity: 0.6;
  }
}

body * {
  z-index: 1;
}

.loader {
  display: none;
  position: fixed;
  top: 35%;
  left: 35%;
}
// common element styilng
h1,
h2,
h3,
h4 {
  color: $white;
  text-align: center;
  padding: 0.5rem;
}

h1 {
  font-size: 4rem;
  font-weight: 100;
}

h3.number {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  font-weight: 100;
}

//  main style starts from here.
.container {
  display: block;
  margin-top: 8rem;
}

.time-container {
  @include flex-helper(space-around, center);
  margin: auto;
  margin-top: 2rem;
}

.upcoming-year {
  text-align: center;
  font-size: 12rem;
  font-weight: 100;
  margin-top: 5rem;
  z-index: -2;
  opacity: 0.4;
}

@media screen and (max-width: 471px) {
  h1 {
    font-size: 2.5rem;
    font-weight: 100;
  }

  h3.number {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.3rem;
    font-weight: 100;
  }
}
